<template>
  <div class="auth-login w-full h-full bg-blue-500 flex justify-center items-center">
    <div class="w-full max-w-xs md:max-w-md">
  <form>
    <div class="bg-white rounded-t p-4 mb-1">
      <div class="h4 text-left">Login</div>
    </div>
    <div class="bg-white rounded-b p-6">
      <div class="mb-4">
        <label class="text-left block text-slate-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input :value="loginUsername" @input="updateLoginUsername" class="shadow appearance-none border rounded w-full py-2 px-3 text-slate-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
      </div>
    <div class="mb-6">
      <label class="text-left block text-slate-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input @input="updateLoginPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-slate-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
    </div>
      <div class="flex items-center justify-between">
        <button v-if="!loginSubmiting" v-on:click="submit" class="text-xs bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'

@Options({
  computed: {
    loginUsername () {
      return this.$store.getters.getLoginUsername
    },
    loginPassword () {
      return this.$store.getters.getLoginPassword
    },
    loginSubmiting () {
      return this.$store.getters.getLoginSubmiting
    }
  },
  methods: {
    // eslint-disable-next-line
    updateLoginUsername (e) {
      this.$store.dispatch('updateLoginUsername', e.target.value)
    },
    // eslint-disable-next-line
    updateLoginPassword (e) {
      this.$store.dispatch('updateLoginPassword', e.target.value)
    },
    submit () {
      this.$store.dispatch('submitLogin')
    }
  }
})
export default class Login extends Vue { }
</script>
