<template>
  <div>
    <div class="flex flex-wrap" v-if="user.uid">
      <div class="absolute w-full z-10" style="height: 50px">
        <Navigation />
      </div>
      <div class="absolute bg-slate-200 flex w-full overflow-auto z-0" style="top: 50px; height: calc(100vh - 50px)">
        <router-view/>
      </div>
    </div>
    <div class="w-screen h-screen">
      <router-view v-if="!user.uid"/>
    </div>
  </div>
</template>

<style lang="scss">
@import url("assets/tailwind.css");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<style lang="postcss">
.content-border {
  @apply border-4;
  @apply border-red-600;
}

@variants responsive {
  .content-bg {
    @apply bg-white;
  }
  .content-bg-alt {
    @apply bg-red-600;
    @apply text-white;
  }

  .bg-glass {
    background-color: rgba(255, 255, 255, 0.95)
  }

  .bg-glass-2 {
    background-color: rgba(255, 255, 255, 0.90)
  }

  .bg-glass-2 {
    background-color: rgba(255, 255, 255, 0.85)
  }
}
</style>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import Navigation from '@/components/navigation/Navigation.vue'

@Options({
  components: {
    Navigation
  },
  computed: {
    user () {
      return this.$store.getters.getUser
    }
  },
  methods: {
    titleCase (value) {
      return value.replace(/(?:^|\s|-)\S/g, x => x.toUpperCase())
    }
  }
})
export default class App extends Vue { }
</script>
