
<template>
  <div class="w-full h-full">
      <ul class="hidden select-none md:flex flex-col -mx-4 pt-4 md:flex-row md:items-center md:mx-0 md:pt-0 md:mr-4 lg:mr-8 md:border-0">
        <li v-for="item of menu" :key="item.id">
            <div v-if="isMenuItem(item)">
              <router-link v-if="item.route" :to="item.route"  class="block px-4 py-1 md:p-2 lg:px-4 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': item.path && view == item.path }">{{ item.name }}</router-link>
              <div v-if="item.method" v-on:click="item.method" class="block px-4 py-1 md:p-2 lg:px-4 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': item.path && view == item.path }">{{ item.name }}</div>
            </div>

            <div v-if="!isMenuItem(item)" class="">
                <div v-on:click="visibleSubMenu[item.name]=!visibleSubMenu[item.name]" class="relative inline-block text-left whitespace-no-wrap">
                    <span  class="cursor-pointer" :class="{ 'text-blue-500': item.name == selectedSubMenu }">
                        {{ item.name }}<span v-if="item.name == selectedSubMenu">/{{ view }}</span>
                    </span>

                    <div class="absolute" style="left: 0; top: 100%; padding-top: 18px; min-height: 60px;">
                        <ul v-if="visibleSubMenu[item.name]" class="flex flex-wrap flex-col bg-gray-600 text-white rounded-b -mx-4 pt-4 md:flex-row md:items-center md:mx-0 md:pt-0 md:mr-4 lg:mr-8 md:border-0">
                            <li v-for="sub_item of item.menu" :key="sub_item.id">
                                <router-link :to="sub_item.route"  class="block px-4 py-1 md:p-2 lg:px-4 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': sub_item.path && view == sub_item.path }">{{ sub_item.name }}</router-link>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </li>
      </ul>

    <div class="flex flex-wrap md:hidden p-4">
        <template v-for="item of menu" :key="item.id">
            <div v-if="isMenuItem(item)" class="w-full text-left">
              <router-link v-if="item.route" :to="item.route"  class="block p-2 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': item.path && view == item.path }">{{ item.name }}</router-link>
              <div v-if="item.method" v-on:click="item.method" class="block p-2 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': item.path && view == item.path }">{{ item.name }}</div>
            </div>

            <div v-if="!isMenuItem(item)" class="flex flex-wrap w-full">
                <div class="flex flex-wrap w-full inline-block text-left whitespace-no-wrap">
                    <span  class="w-full px-2 py-1 bg-red-300 text-blue-500 uppercase" :class="{ 'text-blue-500': item.name == selectedSubMenu }">
                        {{ item.name }}<span v-if="item.name == selectedSubMenu">/{{ view }}</span>
                    </span>

                    <template v-for="sub_item of item.menu" :key="sub_item.id">
                      <div class="w-full bg-red-200 border-t border-red-300">
                        <router-link v-if="sub_item.route" :to="sub_item.route"  class="block px-4 py-1 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': sub_item.path && view == sub_item.path }">{{ sub_item.name }}</router-link>
                        <div v-if="sub_item.method" v-on:click="sub_item.method" class="block px-4 py-1 cursor-pointer whitespace-no-wrap" :class="{ 'text-blue-500': sub_item.path && view == sub_item.path }">{{ sub_item.name }}</div>
                      </div>
                    </template>

                </div>
            </div>
        </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'

@Options({
  computed: {
    view () {
      return this.$store.getters.getCurrentView
    }
  },
  props: {
    menu: Array
  },
  methods: {
    isMenuItem (item) {
      return !('menu' in item)
    },
    setView (view) {
      if (view === 'logout') {
        localStorage.clear()
        location.reload()
      } else {
        this.selectSubMenu('')
        this.$store.dispatch('updateView', view)
      }
    },
    setSubView (menu, view) {
      this.setView(view)
      this.selectSubMenu(menu.name)
    },
    selectSubMenu (name) {
      this.selectedSubMenu = name
      localStorage.setItem('selectedSubMenu', name)
    }
  }
})
export default class NavigationMenu extends Vue {
    selectedSubMenu = localStorage.getItem('selectedSubMenu')
    menu = []
    visibleSubMenu = {}
}
</script>
