<template>
  <nav class="navigation w-full h-full" role="navigation">
    <div class="container w-full h-full flex flex-wrap items-center md:flex-no-wrap">
      <div class="flex flex-wrap md:flex-no-wrap w-full">
        <div class="flex flex-wrap md:flex-no-wrap justify-cente items-center w-full md:w-auto px-4" style="height: 50px">
          <!-- <div class="md:mr-2 relative cursor-pointer">
            <div class="flex justify-center items-center bg-blue-500 px-4 py-1 rounded relative">
              <div class="flex items-center text-sm font-extrabold whitespace-no-wrap">
                <span class="text-white">DX</span>
              </div>
              <div class="absolute text-red-400 text-sm font-extrabold ml-4" style="font-size: 94%; top: 1px; left: 3px;">
                <span class="">DX</span>
              </div>
            </div>
          </div> -->
          <div class="ml-auto md:hidden">
            <button v-on:click="toggleViewMenu()" class="flex items-center px-3 py-2 border rounded" type="button">
              <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
              </svg>
            </button>
          </div>
        </div>
        <div :class="{ 'h-0': !viewMenu, 'h-screen': viewMenu }" class="w-full bg-white transition-all duration-200 md:h-auto md:bg-transparent overflow-auto md:overflow-visible inset-0 md:py-0 md:relative md:w-auto md:flex-grow md:flex md:items-center" style="max-height: calc(100vh - 50px)">

          <NavigationMenu v-on:click="viewMenu = false" :menu="menu" />

        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import store from '@/store'
import NavigationMenu from '@/components/navigation/NavigationMenu.vue'

@Options({
  components: {
    NavigationMenu
  },
  computed: {
    view () {
      return this.$store.getters.getCurrentView
    }
  },
  methods: {
    setView (view) {
      this.$store.dispatch('updateView', view)
    },
    toggleViewMenu () {
      this.viewMenu = !this.viewMenu
    }
  }
})
export default class Navigation extends Vue {
  viewMenu = false;

  menu = [
    {
      id: 1,
      name: 'Home',
      route: {
        name: 'Dashboard'
      }
    },
    {
      id: 5,
      name: 'Logout',
      method: () => {
        localStorage.clear()
        location.assign('/')
      }
    }
  ]
}
</script>
