<template>
    <div class="w-full h-full" v-if="user && !user.uid">
        <Login v-if="view == 'login'"/>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import store from '@/store'
import Login from '@/components/auth/Login.vue'

@Options({
  components: {
    Login
  },
  computed: {
    view () {
      return this.$store.getters.getCurrentView
    },
    user () {
        const user = this.$store.getters.getUser

        if (user && user.uid) {
            location.assign('/user')
        }

        return user
    }
  },
  methods: {
    titleCase (value) {
      return value.replace(/(?:^|\s|-)\S/g, x => x.toUpperCase())
    }
  }
})
export default class Home extends Vue {
    mounted () {
        store.dispatch('updateView', store.state.constants.VIEWS.LOGIN)
    }
}
</script>
