<template>
  <div class="user-home w-full h-full overflow-auto flex flex-wrap justify-around items-start">
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import * as numeral from 'numeral'
import store from '@/store'

@Options({
  computed: {
    user () {
      return this.$store.getters.getUser
    }
  },
  methods: {
    titleCase (value) {
      return value ? value.replace(/(?:^|\s|-)\S/g, x => x.toUpperCase()) : ''
    },
    numeral (val) {
      return numeral(val).format(val < 99999 ? ',' : (val < 999999 ? '0a' : '0.0a'))
    }
  }
})
export default class Dashboard extends Vue {
  mounted () {
    store.dispatch('updateUser')
  }
}
</script>
